filenames_Conc_full.xlsx
Processed_Data/0_01wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/0_01wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/0_1wtHC12_12nMsCy3_230608_double.xlsx
Processed_Data/0_1wtHC12_12nMsCy3_230608_single.xlsx
Processed_Data/0_01wtHC12_12nMsCy3_23060710.bin
Processed_Data/0_1wtHC12_12nMsCy3_23060810.bin
Processed_Data/0_1wtPEG_12nMsCy3_230608_single.xlsx
Processed_Data/0_1wtPEG_12nMsCy3_23060810.bin
Processed_Data/0_4wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/0_4wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/0_4wtHC12_12nMsCy3_23060710.bin
Processed_Data/0_16wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/0_16wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/0_16wtHC12_12nMsCy3_23060710.bin
Processed_Data/0_25wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/0_25wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/0_25wtHC12_12nMsCy3_23060710.bin
Processed_Data/0_63wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/0_63wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/0_63wtHC12_12nMsCy3_23060710.bin
Processed_Data/1wtHC12_12nMsCy3_230607_double.xlsx
Processed_Data/1wtHC12_12nMsCy3_230607_single.xlsx
Processed_Data/1wtHC12_12nMsCy3_23060710.bin
Processed_Data/1wtPEG_12nMsCy3_23060810.bin
Processed_Data/2wtHC12_12nMsCy3_230420_double.xlsx
Processed_Data/2wtHC12_12nMsCy3_230420_single.xlsx
Processed_Data/2wtHC12_12nMsCy3_23042010.bin
Processed_Data/5wtH35kC12_12nMsCy3_230907_double.xlsx
Processed_Data/5wtH35kC12_12nMsCy3_230907_single.xlsx
Processed_Data/5wtHC12_12nMsCy3_23042010.bin
Processed_Data/
Raw_Data/HC12_0_01wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_0_1wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_0_4wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_0_16wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_0_25wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_0_63wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_1wt_sCy3_ibidi_1.ptu
Raw_Data/HC12_2_1.ptu
Raw_Data/HC12_5_1.ptu
Raw_Data/IRF_531_1.ptu
Raw_Data/IRF_quick1.ptu
Raw_Data/R6G_1E4_ibidi1.ptu
Processed_Data/dat3_MLE.bin
Processed_Data/mod3_MLE.bin
Processed_Data/sCy3_12nM_data.bin
Processed_Data/sCy3_12nM_model.bin
batch_fit.xlsx
Consti/YG 0.1nm_0.1 wt.ptu
Consti/YG 0.1um_0.01 wt.ptu
Consti/YG 0.1um_0.05 wt.ptu
consti_decays.bin
.ipynb_checkpoints/sgFCS Workflow Clean-checkpoint.ipynb
Consti.xlsx
sgFCS Workflow Clean.ipynb
